<div id="rick" style="position: absolute; display: inline; min-width: 2000px;">
  <img style="display: inline; width: 180px;"  src="/assets/rick-roll-rick-ashley.gif" />
  <img style="display: inline; width: 180px;" src="/assets/rick-roll-rick-ashley.gif" />
  <img style="display: inline; width: 180px;" src="/assets/rick-roll-rick-ashley.gif" />
  <img style="display: inline; width: 180px;" src="/assets/rick-roll-rick-ashley.gif" />
  <img style="display: inline; width: 180px;" src="/assets/rick-roll-rick-ashley.gif" />
  <img style="display: inline; width: 180px;" src="/assets/rick-roll-rick-ashley.gif" />
  <img style="display: inline; width: 180px;" src="/assets/rick-roll-rick-ashley.gif" />
  <img style="display: inline; width: 180px;" src="/assets/rick-roll-rick-ashley.gif" />
  <img style="display: inline; width: 180px;" src="/assets/rick-roll-rick-ashley.gif" />
  <img style="display: inline; width: 180px;" src="/assets/rick-roll-rick-ashley.gif" />
  <img style="display: inline; width: 180px;" src="/assets/rick-roll-rick-ashley.gif" />
</div>
