<div style="height: 250px;">
  <div id="rick" style="display: inline; min-width: 2000px;">
    <img style="display: inline; width: 180px;" src="/assets/rick-roll-rick-ashley.gif" />
    <img style="display: inline; width: 180px;" src="/assets/rick-roll-rick-ashley.gif" />
    <img style="display: inline; width: 180px;" src="/assets/rick-roll-rick-ashley.gif" />
    <img style="display: inline; width: 180px;" src="/assets/rick-roll-rick-ashley.gif" />
    <img style="display: inline; width: 180px;" src="/assets/rick-roll-rick-ashley.gif" />
    <img style="display: inline; width: 180px;" src="/assets/rick-roll-rick-ashley.gif" />
    <img style="display: inline; width: 180px;" src="/assets/rick-roll-rick-ashley.gif" />
    <img style="display: inline; width: 180px;" src="/assets/rick-roll-rick-ashley.gif" />
    <img style="display: inline; width: 180px;" src="/assets/rick-roll-rick-ashley.gif" />
    <img style="display: inline; width: 180px;" src="/assets/rick-roll-rick-ashley.gif" />
    <img style="display: inline; width: 180px;" src="/assets/rick-roll-rick-ashley.gif" />
  </div>
</div>
