#rick {
  top: 8%;
  z-index: -10;
  position: absolute;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 2s;
}
@keyframes run {
  0% {
    left: -20%;
  }
  50% {
    left: 00%;
  }
  100% {
    left: -20%;
  }
}
