
<br/>
<br/>
<br/>
<div *ngIf="hideContent" style="margin: auto ; text-align: center">
  You are enterring the most danggereous website in the hole wolrd <br/>
  <button  (click)="playAudio()"> Enter </button>
</div>

<audio hidden="hidden" id="myAudio" controls src="/assets/nggyu.mp3" type="audio/mp3"></audio>

<div *ngIf="!hideContent" >
  <div style="margin: auto; min-width: 360px; width: 25%;">
    <div id="rick" style="position: absolute; min-width: 2000px;">
      <img style="width: 180px;"  src="/assets/rick-roll-rick-ashley.gif" type="audio/mpeg" />
      <img style="width: 180px;" src="/assets/rick-roll-rick-ashley.gif" type="audio/mpeg" />
      <img style="width: 180px;" src="/assets/rick-roll-rick-ashley.gif" type="audio/mpeg" />
      <img style="width: 180px;" src="/assets/rick-roll-rick-ashley.gif" type="audio/mpeg" />
      <img style="width: 180px;" src="/assets/rick-roll-rick-ashley.gif" type="audio/mpeg" />
      <img style="width: 180px;" src="/assets/rick-roll-rick-ashley.gif" type="audio/mpeg" />
      <img style="width: 180px;" src="/assets/rick-roll-rick-ashley.gif" type="audio/mpeg" />
      <img style="width: 180px;" src="/assets/rick-roll-rick-ashley.gif" type="audio/mpeg" />
      <img style="width: 180px;" src="/assets/rick-roll-rick-ashley.gif" type="audio/mpeg" />
      <img style="width: 180px;" src="/assets/rick-roll-rick-ashley.gif" type="audio/mpeg" />
      <img style="width: 180px;" src="/assets/rick-roll-rick-ashley.gif" type="audio/mpeg" />
    </div>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <app-p5>
  </app-p5>
</div>


